* {
  all: unset;
}

tooltip.background {
    background-color: $background;
    font-size: 15;
    font-family: "DM Sans";
    font-weight: 300;
    border-radius: 8px;
}

tooltip label {
    margin: 10px;
}

.red {
  color: $red;
}
.yellow {
  color: $yellow;
}

.green {
  color: $green;
}
.magenta {
  color: $magenta;
}

.blue {
  color: $blue;
}
.cyan {
  color: $cyan;
}

.white {
  color: $foreground-alt;
}
