$background : #0f0f0f;
$foreground : #dfdde0;
$background-alt : #18181a;
$background-light : #1e1f25;
$foreground-alt : #c5d7d7;

$red : #da696d;
$red-light : #ec6e74;

$green : #74be88;
$green-light : #86d19a;

$yellow : #e1b56a;
$yellow-light : #d5b27c;

$blue : #6d92b7;
$blue-light : #6692b7;

$cyan : #679ca6;
$cyan-light : #6bd1e0;

$magenta : #be67d5;
$magenta-light : #c585cf;
