$background : #0f0f0f;
$foreground : #dfdde0;
$background-alt : #1a1a1d;
$background-light : #1e1f25;
$foreground-alt : #c5d7d7;

$red : #d08689;
$red-light : #db7176;

$green : #9bcba8;
$green-light : #9adaab;

$yellow : #d3b787;
$yellow-light : #e7c794;

$blue : #7894b0;
$blue-light : #80a0c0;

$cyan : #87b9bb;
$cyan-light : #81c6cf;

$magenta : #c095cb;
$magenta-light : #d7a1df;
