.dash {
  background: $background;
  padding: 2rem;
  @include rounding;
}

.notifcenter {
  @include rounding;
  padding: 1rem;
  background: rgba($background-alt, 0.4);
}

.eon {
  font-family: Rubik;
  font-size: 1.3rem;
  margin-top: 1rem;
}

.notification {
  font-family: Rubik;
  background: rgba($background-alt, 0.6);
  @include rounding;

  &-close {
    font-family: Material Design Icons;
    color: $red;
    font-size: 1.3rem;
  }
}

.notification-title {
  padding: 1rem;
  @include rounding;
  background: $background-alt;
}

.notification-body {
  padding: 1rem;
}

.dashpfp {
  min-height: 200px;
  @include rounding;
}

.dashgradient {
  background-image: linear-gradient(to right, rgba($background, 0.5) 30%, rgba($background, 0.7));
}

.dashtime {
  font-family: Rubik;
  background: $background-alt;
  @include rounding;
  padding: 1rem;
}

.timelabel {
  font-family: Iosevka Nerd Font;
  font-size: 1rem;
}

.timelabelu {
  font-family: Rubik;
  font-size: 1.1rem;
  color: $blue;
}

.stats {
  padding: 1rem;
  @include rounding;
  background: rgba($background-alt, 0.4);
}

.gridline {
  background: $background-alt;
  @include rounding;
}

.statscale trough {
  min-width: 1.5rem;
  margin: .5rem 0;
  min-height: 16px;
  @include rounding;
}

.magentascale trough highlight {
  @include rounding;
  background: $magenta;
}

.greenscale trough highlight {
  @include rounding;
  background: $green;
}

.bluescale trough highlight {
  @include rounding;
  background: $blue;
}

.redscale trough highlight {
  @include rounding;
  background: $red;
}

.yellowscale trough highlight {
  @include rounding;
  background: $yellow;
}

.circgreen {
  color: $green;
}

.circred {
  color: $red;
}

.altstat {
  @include rounding;
  background: rgba($background-alt, 0.8);
  padding: 1rem 2rem;
}

.tt {
  font-family: Material Design Icons;
  padding: 1.5rem;
  font-size: 1.7rem;
}

.clabel {
  font-family: Iosevka Nerd Font;
  color: $comment;
}


.dashmusic {
  @include rounding;
  background: rgba($background-alt, 0.8);
  padding: 1rem;
}

.dashart {
  @include rounding;
  opacity: 0.6;
  min-height: 100px;
  min-width: 120px;
}

.dmi {
  margin-top: 1rem;
  font-family: Rubik;
}
