.lockscreen {
  padding: 4rem;
  font-family: "Iosevka Nerd Font";
  font-size: 1.6rem;
  color: $background-alt;
  background-image: url("./assets/background.jpg");
  background-size: cover;
}



.lockpower {
  margin-left: 0;
}
.lockhead {
  font-size: 2.6rem;
  margin-bottom: 3rem;
}
