.lockscreen {
  font-family: "Iosevka Nerd Font";
  font-size: 1.6rem;
  padding: 1.2rem;
  background-color: rgba(15, 15, 15, 0.6);
  border-radius: 0px 8px;
}

.lockicon {
  font-family: "Material Design Icon Desktop";
  font-size: 2.6rem;
  padding: 1rem;
  border-radius: 8px 0;
}

.powerstr {
  font-size: 1.2rem;
  margin-bottom: 1.4rem;
}

.locktime {
  font-size: 13rem;
  font-weight: bold;
}

.lockstr {
  font-size: 2rem;
}
