! special
*.foreground:   #dfdde0
*.background:   #0f0f0f
*.cursorfg:  #dfdde0

! black
*.color0:       #202026
*.color8:       #28292f

! red
*.color1:       #da696d
*.color9:       #ec6e74

! green
*.color2:       #74be88
*.color10:      #86d19a

! yellow
*.color3:       #e1b56a
*.color11:      #d4b27c

! blue
*.color12:       #6d92b7
*.color4:      #6692bf

! magenta
*.color5:       #be67d5
*.color13:      #c585cf

! cyan
*.color6:       #679ca6
*.color14:      #6bbbe0

! white
*.color7:       #b9c1c1
*.color15:      #ccc9c3

!.dwm
*.borderpx: 0
*.snap: 5
*.gappih: 5
*.gappiv: 5 
*.gappoh: 5 
*.gappov: 5
*.buttonbar: 﩯 
*.user_bh: 34
*.font: Iosevka Nerd Font:size=12:antialias=true:autohint=true;
*.dmenufont: Iosevka Nerd Font
*.topbar: 1 
*.showbar: 1 
*.horizpadbar: 0 
*.vertpadbar: 8
*.mfact: 0.55
*.nmaster: 1 

