.bgoverlay {
  min-height: 1080px;
  min-width: 1880px;
  border-radius: 20px 0 0 20px;
}


.bgbox {
  background: rgba($background, 1);
  border-radius: 0;
  min-height: 1080px;
  min-width: 1880px;
}

.rm {
  &-icon {
    font-size: 20px;
  }

  &-entry {
    min-width: 200px;
    min-height: 30px;
  }
}
