

menu {
    padding: 0.681rem;
  font-family: "Product Sans";
    background: $background;
    color: $foreground;
    border-radius: 1.159rem;
    -gtk-outline-radius: 1.159rem;
}

menubar>menuitem {
    border-radius: 0.545rem;
    -gtk-outline-radius: 0.545rem;
    min-width: 13.636rem;
    min-height: 2.727rem;
}

menu>menuitem {
    padding: 0.4em 1.5rem;
    background: transparent;
    transition: 0.2s ease background;
    border-radius: 0.545rem;
    -gtk-outline-radius: 0.545rem;
}

menu>menuitem:hover,
menu>menuitem:focus {
    background-color: $background-alt;
}
menu>menuitem:active {
    background-color: $background-alt;
}
