@import "_colors";
@import "_bar";
@import "_menu";
@import "_launcher";
@import "_panel";
@import "_calendar";
@import "_osd";
@import "_dock";
@import "_time";
@import "_popup";
@import "_desktop";
@import "_notifs";
@import "_work";


* {
  font-family: "Product Sans";
  all: unset;
  transition: 100ms ease;
}

.icon {
  font-family: Material Design Icons;
}
