.work {
  background: $background;
  padding: 1.2rem;
      color: $foreground;
  border-radius: 0px 0 0 0px;



  &-graph {
    border-radius: 10px;
    background: rgba($background-alt, 0.3);
    padding: 20px;
    min-height: 250px;

    &-stick-work {
      min-width: 15px;
      background: $accent;
    }

    &-stick-break {
      min-width: 15px;
      background: rgba($foreground, 0.7);
    }
  }

  &-cont {
    border-left: 2px solid rgba($foreground, 0.1);
    border-bottom: 2px solid rgba($foreground, 0.1);
  }

  &-timer {
    &-bg {
      background: linear-gradient(to right, rgba($background, 0.85), rgba($background, 0.97)), url('../assets/pomo.jpg');
      min-height: 220px;
      background-size: cover;
      background-position: center;
      border-radius: 10px;
    }

    &-selection {
      font-size: 16px;
      padding: 0.4rem 0.8rem;
      border-radius: 10px;
      font-family: "Product Sans";
    }

    &-true {
      background: $accent;
      color: $background;
    }

    &-buttons {
      border-radius: 40px;
      padding: 0.6rem 2rem;
      background: $background-alt;
    }

    &-button {
      margin: 0 1rem;
      font-size: 20px;
    }

    &-time {
      padding: 0.8rem;
      font-size: 50px;
      font-family: "Product Sans";
    }

    &-title {
      padding: 1rem;
      font-size: 17px;
      font-family: "Product Sans";
    }
  }

  &-agenda {
    border-radius: 10px;
    background: rgba($background-alt, 0.7);
    padding: 0.8rem;
    font-family: "Product Sans";

    &-title {
      font-size: 18px;
    }

    &-scroll {
      min-width: 400px;
      min-height: 430px;
    }

    &-heading-1 {
      font-size: 20px;
      font-weight: bold;
    }

    &-heading-2 {
      font-size: 19px;
      font-weight: bold;
    }

    &-heading-3 {
      font-size: 17px;
      font-weight: bold;
    }

    &-bold {
      font-weight: bold;
    }

    &-code {
      padding: 0.2rem 0.7rem;
      border-radius: 10px;
      font-family: Iosevka Nerd Font;
      background: rgba($foreground, 0.07);
    }

    &-list {
      padding: 0.25rem;
      background: rgba($foreground, 0.7);
      border-radius: 100px;
      margin-top: 7px;
    }

    &-italic {
      font-style: oblique;
    }

    &-link {
      color: $accent;
      font-weight: bold;
    }

    &-text-false {
      color: $comment;
    }

    &-todo-true {
      padding: 0.45rem;
      border-radius: 100px;
      border: 1px solid $accent;
      margin-top: 3px;
      background: $accent;
    }

    &-todo-false {
      padding: 0.45rem;
      border-radius: 100px;
      background: rgba($background-alt, 0.5);
      margin-top: 3px;
      border: 1px solid $comment;
    }

    &-italic-bold {
      font-style: oblique;
      font-weight: bold;
    }
  }
}
