.mainframe {
  background-color: $background;
  padding: 1.25rem;
  border-radius: 6px;

  &_profile {
    font-family: "Iosevka Nerd Font";
    padding: 1rem 0;
    padding-bottom: 1.3rem;

    &_picture {
      background-image: url('assets/profile.jpg');
      background-size: 42px;
      background-position: 50% 35%;
      min-height: 42px;
      min-width: 42px;
      border-radius: 100%;
    }

    &_name {
      font-weight: 300;
      margin-left: 1rem;
      font-size: 1.2rem;
    }

    &_time {
      &_text {
        font-weight: 300;
        font-size: 1.3rem;
      }

      &_suffix {
        margin-left: 0.4rem;
      }
    }
  }

  &_button {
    font-family: "Material Design Icons Desktop";
    border-radius: 6px;
    background: $background-alt;
    padding: 0rem;
    font-size: 1.6rem;

    &_icon_box {
      padding: .8rem;
    }

    &_alt {
      padding: .8rem;
    }

    &_label {
      font-family: "Iosevka Nerd Font";
      font-size: 1.1rem;
    }
  }

  &_settings {
    margin-top: 2rem;
  }

  &_scales {
    margin: 2rem 0;
    font-family: "Iosevka Nerd Font";
    padding: 1.4rem;
    background-color: $background-alt;
    border-radius: 5px;
  }

  &_scale_label {
    font-family: "Material Design Icons desktop";
    font-size: 1.5rem;
    color: $foreground-alt;
  }




  &_scale trough {
    min-height: .7rem;
    border-radius: 20px;
    background-color: $background-light;
    // border: 1px solid $blue;
  }


  &_scale trough highlight {
    border-radius: 20px;
    background: $accent;
  }


  &_battery {
    font-family: "Iosevka Nerd Font";
    font-size: 1.2rem;
    color: $accent;
  }

  &_power {
    font-family: "material design icons desktop";
    font-size: 1.5rem;

    &btn {
      background-color: $background-alt;
      padding: .5rem;
    }
  }

  &_focus_toggle {
    border-radius: 32px;
    background: $background-alt;
  }

  &_focus_box {
    border-radius: 32px;
    background: $accent;
    padding: 0 .2rem;
  }

  &_focus_text {
    font-family: "Iosevka Nerd Font";

  }


  &_sep {
    background-color: $comment;
    min-height: 1px;
    min-width: 1px;

    &_box {
      padding: 0 1rem;
    }
  }

  &_song {
    background: linear-gradient(to right, rgba($background, 1), rgba($background, 0.7));
    padding: 1rem;
    &_ctl {
      &_btn {
        font-size: 1rem;
        border-radius: 5px;
      }

      margin-top: .3rem;
      font-family: "material design icons desktop";
    }

    &_box {
      font-family: "Iosevka Nerd Font";
      border-radius: 5px;
      background-position: center;
    }


    &_btn {
      font-size: 1.7rem;
      font-family: "material design icons desktop";
    }

    &_name {
      font-size: 1.4rem;
      font-weight: 300;
    }

    &_artist {
      font-size: 1.1rem;
      margin-top: .5rem;
      font-weight: 300;
    }


    &_scale trough {
      border-radius: 20px;
      padding: 1rem 0;

      highlight {
        border-radius: 20px;
        background: $foreground-alt;
      }

    }

  }
  &_footer {
    margin-top: 1.5rem;
    padding: 0 .2rem;
  }
}

.active {
  background: $accent;
  color: $background;
}
