.dash {
  background-color: $background;
  padding: .5rem .75rem;
  border-radius: 7px;
}

.wifi {
  padding-right: 3rem;
}
.fullsetbtn {
  margin: 0 .75rem;
}

.bat-label {
  color: $background;
  font-size: 1.5rem;
  font-family: Iosevka Nerd Font;
}
.bat-icon {
  color: $background;
  font-size: 2.5rem;
  font-family: Iosevka Nerd Font;
}

.bat-scale trough {
				border-radius: 8px;
				min-height: 9.5rem;
				min-width: 18rem;
        margin-top: 1.6rem;
}
.bat-scale trough highlight {
					border-radius: 4px;
}

.bat-green trough {
			background-color: #308052;
}

.bat-green trough highlight {
					background-color : #6ec587;

}
.bat-blue trough {
			background-color: #37567a;
}

.bat-blue trough highlight {
					background-color : #659bfb;

}
.bat-yellow trough {
			background-color: #b88430;
}

.bat-yellow trough highlight {
					background-color : #deb26a;

}
.bat-red trough {
			background-color: #c4373d;
}

.bat-red trough highlight {
					background-color : #df5b61;

}
.progressicon {
  font-size: 2rem;
}
.scale {
  margin: 1rem 1.3rem;
}



.songbtn {
  font-family: "Iosevka Nerd Font";
  font-size: 3rem;
  color: $foreground-alt;
  margin: 1rem 1.4rem;
}

.background-song {
  min-height: 10rem;
  min-width: 10rem;
}

.music-controls {
  background-color: $background-alt;
  border-radius: 7px;
  padding: 1rem;
  padding-right: 1.5rem;
  margin-left: 1rem;
}

.songbox {
  font-family: "Iosevka Nerd Font";
  margin: .75rem;
  margin-top: 1.5rem;
}

.songtitle {
  font-size: 1.6rem;
  margin-left: 2rem;
}
.songinfo {
  margin-top: 1.4rem;
}
.image {
  border-radius: 10px;
  background-size: 440px;
  background-position: center;
  min-height: 150px;
  min-width: 440px;
}

.music-info {
  background: linear-gradient(to right, rgba(10, 16, 17, .9), rgba(10, 16, 17, 0.4));
  font-family: "DM Sans";
  font-size: 1.4rem;
  font-weight: 300;
  padding: 2rem;
}

.artist {
  font-size: 1rem;
}


.play {
  color: $yellow;
}


.ekdamfull {
  margin: .4rem;
}
.setlabel {
  font-family: "DM Sans";
  font-weight: 300;
  margin: .3rem 0;
  font-size: 1.2rem;
}

.mainframe-uptime {
  padding: 1rem;
  border-radius: 8px;
  font-family: Iosevka Nerd Font;
  &-icon {
    font-size: 5rem;
    color: $red;
  }

  &-text {
    margin-left: 3.8rem;
    font-size: 1.4rem;
  }
}
.over-scale trough {
				border-radius: 8px;
				min-height: 3.3rem;
				min-width: 18rem;
        background-color: $background-alt;
        margin-top: 1.6rem;
}
.over-scale trough highlight {
					border-radius: 4px;
}

.music-scale trough highlight {
					border-radius: 4px;
          background-color: $green;
}
.music-scale trough {
				border-radius: 8px;
				min-height: 1.3rem;
				min-width: 7rem;
        background-color: $background-alt;
        margin-top: 1.6rem;
}
.over-icon {
  font-size: 3rem;
}

.volover trough highlight {
  background-color: $magenta;
}
.brightover trough highlight {
  background-color: $yellow;
}

.main-quote {
  margin: 1rem;
}


.quote{
	background-color: $background-alt;
	border-radius: 12px;
	padding: 1.5rem;
	margin: .5rem;
}
.quote-text{
	font-family: "DM Sans";
  font-weight: 300;
	padding: 1.4rem .5rem;
	font-size: 1.5em;
	color: $foreground;
}

.weatherbox {
  background-color: $background-alt;
  padding: 3.2rem;

  border-radius: 5px;
}

.weathericon {
  font-size: 3.8rem;
  margin-bottom: 1rem;
}

.weathercity {
  font-family : "Iosevka Nerd Font";
  font-size: 1.3rem;
}

.weathertemp {
  margin-left: 5rem;
  margin-bottom: 1.5rem;
  font-family : "Iosevka Nerd Font";
  font-size: 2.2rem;
}

.uptimebox {
  font-family: "Iosevka Nerd Font";
  background-color: $background-alt;
  margin-left: 1rem;
  padding: 2rem;
  border-left: 2px solid $green;
}

.uptimetext {
  font-size : 1.2rem;
  margin : 1.5rem 0;
}
.uptime {
  font-size : 1.8rem;
}
