@use '../colors';
@use '../config';

list {
  background: colors.$surface-strongest;

  row {
    background: colors.$surface-strong;
    padding: config.$spacing-medium;
    &:hover {
      background: colors.$surface-moderate;
    }
  }

  > label {
    padding: config.$spacing-small;
  }
}