@use "../colors";
@use "../config";

revealer {
  frame.app-notification border {
    border-radius: config.$radius;
    background: colors.$surface-moderate;
    padding: config.$spacing-medium;
  }

  @each $side in ('top', 'right', 'bottom', 'left') {
    &.#{$side} frame.app-notification border {
      margin-#{$side}: config.$spacing-medium;
    }
  }
}