@use 'sass:color';
@use '../colors';
@use '../config';

// TODO: check if full width horizontal separators are possible

treeview {
  -GtkTreeView-expander-size: 16;
  -GtkTreeView-grid-line-pattern: '';
  -GtkTreeView-tree-line-pattern: '';
  -GtkTreeView-horizontal-separator: 12;
  -GtkTreeView-vertical-separator: 12;

  border-left-color: colors.$white-weakest; // TODO: check if there is going to be a new way to define tree-lines
  border-top-color: colors.$white-weakest; // TODO: check if there is going to be a new way to define column-lines

  &:hover {
    background: colors.$white-weakest;
  }

  &:selected {
    background: color.change(colors.$accent-primary, $alpha: config.$tint-medium);
    color: colors.$white-strongest;
  }

  header { 
    button {
      padding: config.$spacing-medium;
      background: colors.$surface-strong;
      border-radius: 0;
      color: colors.$white-moderate;

      &:hover:not(:active) {
        color: colors.$white-strong;
        background: colors.$surface-strong;
      }

      &:not(:last-child) {
        // TODO: check if there is a way to thicken threeview borders (other than this one)
        border-right: 1px solid colors.$white-weakest;
      }
    }
  }
}