@use '../colors';

check {
  -gtk-icon-source: -gtk-recolor(url('../assets/symbolic/check.symbolic.png'));
  -gtk-icon-transform: scale(0);
  color: colors.$white-strongest;
  border: 0.2em solid colors.$white-weakest;
  border-radius: 0.3em;
  padding: 0.1em;
  min-width: 0.7em;
  min-height: 0.7em;

  // TODO: extract transitions into separate directory
  transition: -gtk-icon-transform 200ms;

  &:hover {
    border-color: colors.$white-weak;
  }

  &:active, &:checked {
    background: colors.$white-weakest;
  }

  &:checked {
    background: colors.$accent-primary;
    -gtk-icon-transform: scale(1);
    border-color: colors.$accent-primary;
    &:active { background: transparent; }
  }
}