$surface-strongest: #0f0f0f;
$surface-strong: #0f0f0f;
$surface-moderate: #1a1a1d;
$surface-weak: #0f0f0f;
$surface-weakest: #1e1f25;

$white-strongest: #dfdde0;
$white-strong: #dfdde0;
$white-moderate: #ccc9c3;
$white-weak: #1e1f25;
$white-weakest: #0f0f0f;

$black-strongest: #0f0f0f;
$black-strong: #0f0f0f;
$black-moderate: #0f0f0f;
$black-weak: #0f0f0f;
$black-weakest: #0f0f0f;

$red-normal: #d08689;
$red-light: #db717c;
$orange-normal: #d3a487;
$orange-light: #e6a177;
$yellow-normal: #d3b787;
$yellow-light: #e7c794;
$green-normal: #9bcba8;
$green-light: #9adaad;
$cyan-normal:  #87b9bb;
$cyan-light: #81c6cf;
$blue-light: #7894b0;
$blue-normal: #77a6c2;
$purple-normal: #c095cb;
$purple-light: #d7a1df;
$pink-normal: rgb(213, 108, 195);
$pink-light: rgb(223, 129, 207);


$accent-primary: $blue-normal;
$accent-secondary: $green-normal;

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$surface-strong};
