levelbar {
  trough {
    block {
      padding: 3px;
      border-radius: 3px;

      &.filled { background: $secondary-accent; }
      &.empty { background: $background-3; }
    }
  }

  &.discrete {
    block:not(:first-child) {
      margin-left: 5px;
    }
  }
}
