@keyframes rotate {
  to { -gtk-icon-transform: rotate(1turn); }
}

spinner {
  -gtk-icon-source: none;
  &:checked {
    -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
    animation: rotate 1s linear infinite;
  }

  &:disabled { opacity: 0.3; }
}