window.thunar {
  background: none;

  treeview {
    background: none;
  }

  grid {

    *:selected,
    *:active {
      background: $black-moderate;
      border-radius: 3px;
    }
  }

  .sidebar {
    background: $black-moderate;
    padding: 1rem;
  }

  treeview {
    padding: 3px;
    color: #6e7071;

    &:selected {
      background: none;
      color: $white-strongest;
      font-weight: bold;
    }
  }

  .frame {
    border: 0;
  }

  toolbar {
    entry {
      background: $background-1;
      border-radius: 10px;

      margin: 2px 2em 2px 1em;
      padding: 0px 1rem;

      image {
        background-image: image(rgba(255, 255, 255, 0));
      }
    }
  }

  paned grid {
    background: $black-strongest;
  }

  toolbar {
    background: $black-strongest;
    padding: 5px 0;
  }

  toolbar * {
    background: none;
  }

  /* hide separator */
  separator {
    background-image: image(rgb(19, 23, 24));
    background-size: 1px 1px;
    background-position: center center;
  }
}
