
.bar {
  background-color: $background;
  padding: .8rem;
}

.0 , .01, .02, .03, .04, .05, .06, .011, .022, .033, .044, .055, .066 {
 padding: 10px;
}

/* Unoccupied */
.0 {
color: #3e424f;
}

.01, .02, .03, .04, .05, .06 {
  color: $foreground-alt;
    }
/* Focused */
.011, .022, .033, .044, .055, .066 {
  color: $foreground-alt;
}
/* Occupied */


.works {
  font-family: "Iosevka Nerd Font";
  padding: 0rem 1.5rem;
  background: $background-alt;
  border-radius: 8px;
  margin-left: 1rem;
}

.barinfo {
  font-family: "Iosevka Nerd Font";
  padding: .6rem 1.2rem;
  background-color: $background-alt;
  border-radius: 8px;
  margin: 0 1rem;
  font-size: 1.1rem;
}
.baricon {
  font-family: "Iosevka Nerd Font";
  font-size: 1.7rem;
  padding: 0 1rem;
  color: $blue;
}

.powericon {
  color: $red;
  font-size: 1.15rem;
}
.cyan-light {
  color: #7eb3f2;
}
.yellow {
  color: $yellow;
}

.timebar {
  padding: 0 1.2rem;
  font-family: "Iosevka Nerd Font";
  background-color: $background-alt;
  border-radius: 7px;
  margin: 0 .7rem;
}

.launchsettings {
  padding: 0 1rem;
  font-size: 1.3rem;
}
