##==============================================================================
## COLORS
##==============================================================================

font_color_user="black"
background_user="red"
texteffect_user="bold"

font_color_host="red"
background_host="black"
texteffect_host="bold"

font_color_pwd="black"
background_pwd="red"
texteffect_pwd="bold"

font_color_git="white"
background_git="black"
texteffect_git="bold"

font_color_input="red"
background_input="none"
texteffect_input="bold"

